.qrcode{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 1em;
}
.transactionID{
    text-align: center;
}
ion-label{
    font-family: 'Courier New', Courier, monospace;
}